@import "fonts";
.dashboard{
  margin-top: -10px;
}
.welcome{
  margin-top: 10px;
  display: inline-block;
  line-height: 115px;
  width: 170px;
  margin-left: 30px;
  vertical-align: top;
}

.menu_dashboard{
  display: inline-block;
  background-color: #f0f0f0;
  height: 115px;
  width: 880px;
}

.menu_dashboard ul{
  display: inline-block;
}

.menu_dashboard i{
  margin-top: 15px;
  text-align: center;
  color: #b5adac;
}

.menu_dashboard h5{
  color: #b5adac;
  margin-bottom: 20px;
}

.menu_dashboard ul li{
  position: relative;
  border-left: 1px solid #b5adac;
  display: inline-block;
  height: 115px;
  width: 165px;
  text-align: center;
}

.menu_dashboard ul li i:hover{
  color: #e86f56;
}

.menu_dashboard ul li h5:hover{
  color: #3e3e3e;
}

.menu_dashboard ul li:hover{
  border-bottom: 3px solid #3e3e3e;
}

.menu_dashboard .active i{
  color: #e86f56;
}

.menu_dashboard .active h5{
  color: #3e3e3e;
}

.menu_dashboard .active {
  border-bottom: 3px solid #3e3e3e;
}

.tab-content-dash { //tab-content
  width: 880px;
  margin-top: -10px;
  background-color: #f6f6f6;
}

.tab-content-dash  img{
  margin-top: 25px;
  margin-bottom: 35px;
  margin-left: 30px;
}

.tab-content-dash  i{
  position: relative;
  top: 7px;
  right: 60px;
  color:#fff;
}

.tab-content-dash  .fa-plus{
  right: 55px;
}

.tab-content-dash  .fa-cog{
  right: 57px;
}
