.form {
  width: 300px;
  float: right;
  margin-right: 21px;
  margin-top: 18px;
  input{
    display: block;
    width: 300px;
    margin: 10px 5px 0 0;
  }
  textarea{
    display: block;
    width: 300px;
    margin: 10px 5px 0 0;
  }
}

#dropdownMenu1 {
  display: block;
  width: 300px;
  margin: 10px 5px 0 0;
  text-align: justify;
}

#caret{
  float: right;
}

#bottomsubmit {
  float: right;
  width: 150px;
}